/* Style pour les boutons radio */
.radio-button {
    -fx-text-fill: #333333;
    -fx-font-size: 13px;
}

.radio-button:selected {
    -fx-text-fill: #2E8B57; /* Vert pour actif */
}

.radio-button:selected#inactiveBtn {
    -fx-text-fill: #CD5C5C; /* Rouge pour inactif */
}

/* Style pour la colonne de statut */
.status-column {
    -fx-alignment: CENTER;
    -fx-padding: 5px;
}

/* Style général du tableau */
.table-view {
    -fx-background-color: white;
    -fx-border-color: #9ae6b4;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

.table-row-cell:empty {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
/* Style pour les champs de filtre */
.filter-container {
    -fx-spacing: 15;
    -fx-padding: 0 0 10 0;
}

.combo-box {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #9ae6b4;
    -fx-padding: 3 8 3 8;
}

.text-field {
    -fx-background-radius: 5;
    -fx-border-radius: 5;
    -fx-border-color: #9ae6b4;
    -fx-padding: 5 8 5 8;
}